target
studies/convert-tensor/myenv
studies/pytorch/data/dataset-dogandcat
studies/pytorch/data/dataset-cokeornot
studies/pytorch/data/hymenoptera_data
*.bin
*.ot
*.npz
*.model
venv
*.pth
*.pt
*.so
tryonpython/data
studies/pytorch/data/MNIST/raw
studies/transfer-learning/data
studies/transfer-learning/hymenopetera_data
build
.gradle
.idea
studies/burn-wgpu/data
*.pth